
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+HK&family=Noto+Sans+JP&display=swap');


:root {
  --bg-color: white;
  --fg-color: black;
  --link-color: blue;
}

.header{
    padding: 80px;
    text-align: center;
    background: #ffffff;
    color: rgb(0, 0, 0); 
}

.header h1 {
    font-size: 70px;
}

.footer {
    padding: 20px;
    text-align: center;
    background:#ffffff;
}

.navbar {
    overflow: hidden;
    background-color:rgb(255, 255, 255)
}

.navbar a{
    float: center;
    display: block;
    color:black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 40px;
}

.navbar a:hover {
    background-color:rgb(255, 255, 255);
    color: rgb(252, 9, 204);
}

*{
    box-sizing:border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 30%;
    background-color: aqua;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }   
}

@media screen and (max-width: 400px) {
    .navbar a{
        float: none;
        width: 100%;
    }
}

/* styles that affect everything on the page can go in 'html' */
html {
  font-family: 'Inter', 'Noto Sans HK', sans-serif;
  background-color: #ffffff;
  color: var(--fg-color);
}

/* another pseudo-selector, for the box drawn when the user selects text */
::selection {
  background: var(--fg-color);
  color: var(--bg-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

main {
  width: 768px;
  /* the two value shorthand for the margin property accepts the "auto" keyword
   * in this case, the second value is the horizonal margins and auto splits
   * the available space equally between left and right, centering our element
   */
  margin: 0 auto;
  padding: 72px 0;
}

nav > ul {
  list-style: none;
  padding: 0;
}

ul.grid {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

ul.grid > li {
  width: 100%;
  text-align: center;
  padding: 24px;
  opacity: 0.5;
}

ul.grid > li > img {
  width: 100%;
  aspect-ratio: 2.39;
  height: auto;
  object-fit: cover;
  filter: blur(2px);
  transition: all 0.3s ease;
}
ul.grid > li:hover > img {
  filter: blur(0);
  opacity: 1;
}

.borders {
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}
.borders:hover {
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.p5embed {
  width: 100%;
  aspect-ratio: 4 / 3;
  height: auto;
}

.byline {
  text-align: right;
  font-size: 12px;
}

.full-width {
  width: 100%;
}

figcaption {
  text-align: center;
}