
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+HK&family=Noto+Sans+JP&display=swap');


:root {
  --bg-color: white;
  --fg-color: black;
  --link-color: blue;
}

.header{
    padding: 80px;
    text-align: center;
    background: #ffffff;
    color: rgb(0, 0, 0); 
}

.header h1 {
    font-size: 70px;
}

.footer {
    padding: 20px;
    text-align: center;
    background:#ffffff;
}

.topnav {
    overflow: hidden;
    background-color:rgb(255, 255, 255)
}

.topnav a{
    float: left;
    display: block;
    color:rgb(248, 53, 219);
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    text-decoration: none;
    font-size: 30px;
}

.topnav a:hover {
    background-color:rgb(255, 255, 255);
    color: rgb(1, 252, 22);
}


/* styles that affect everything on the page can go in 'html' */
html {
  font-family: 'Inter', 'Noto Sans HK', sans-serif;
  background-color: #ffffff;
  color: var(--fg-color);
}

/* another pseudo-selector, for the box drawn when the user selects text */
::selection {
  background: var(--fg-color);
  color: var(--bg-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

.borders {
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}
.borders:hover {
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.p5embed {
  width: 100%;
  aspect-ratio: 4 / 3;
  height: auto;
}

.-fx-image-gal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 2000px;
    justify-content: center;
}

.-fx-gal-item {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.-fx-gal-item a {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.-fx-gal-image-thumb img {
    width: 100%;
    cursor: pointer;

    transform: scale(1.05);
    transition: all 0.5s ease;
}

.-fx-gal-image-thumb:hover img {
    cursor: pointer;
    transform: scale(1.5);
    transition: all 0.5s ease;
}
@media (min-width: 420px) {
    .-fx-image-gal {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .-fx-gal-item {
        width: 100%;
    }
 }
 @media (min-width: 768px) {
    .-fx-gal-item {
        width: 20%;
    }
 }